.jumbotron {
  padding: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
  padding-top: 4rem;
}

#about {
  padding-top: 4rem;
}

h4 {
  color: #0062fc;
  text-decoration: underline;
}

#layanan {
  background: #0d6efd;
  padding: 4rem;
}
